@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa; 
}

.header {
  position: fixed; 
  top: 0;  
  left: 14rem;           
  z-index: 1000;      
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff7043;
  width: 70%;                 
  max-width: 1200px;         
  padding: 15px 40px;         
  margin: 1.5rem auto;
  color: #fff;
  border-radius: 12px;
}


.header-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.app-name {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.slogan {
  margin: 0;
  font-size: 1rem;
  font-style: italic;
  color: #ffe0b2;
}

.nav-links {
  display: flex;
  gap: 25px;
  font-size: 1rem;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 6px 10px;
  border-radius: 6px;
}

.nav-links a:hover {
  background: #ffe0b2;
  color: #ff7043;
}

.nav-links a.active {
  background: #fff;
  color: #ff7043;
  font-weight: 600;
}
